html, body {
    background-color: #A9D7D1;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}
h1, h4 {
    text-align: center;
}
#container {
    background-color: #222244;
    width: 800px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 20px;
}
form {
    align-items: center;
    border-radius: 2rem;
    padding: 2rem;
}
